@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    position: relative;
    background-image: url('pic/bg.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cont {
    width: 80%;
    height: auto;
    margin: 0px auto;
    padding-top: 60px;
}

.university {
    color: rgb(255, 255, 255);
    width: fit-content;
    font-size: 30px;
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.406);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    padding: 20px 50px;
    background: #ededed24;
    line-height: 50px;
    font-weight: 900;
    border-radius: 10px;
    margin-top: 80px;
    backdrop-filter: blur(5px);
}

.navbar {
    width: 100%;
    position: fixed;
    height: 100px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: space-between;
    z-index: 99999;
}
.item-nav h1 {
    position: relative;
    color: rgb(146, 247, 52);
    font-size: 50px;
    top: -15px;
    font-family: 'Fjalla One', sans-serif;
    left: 120px;
}
.item-nav ul {
    position: relative;
    right: 120px;
    padding: 0;
    top: 0px;
}
.item-nav ul li {
    display: inline-block;
    padding: 0;
}
.item-nav ul li a {
    position: relative;
    text-decoration: none;
    color: rgb(146, 247, 52);
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    border-radius: 3px;
    padding: 10px 15px;
    line-height: 70px;
}

.item-nav ul li a:hover, .item-nav ul li a.active {
    background-color: rgb(146, 247, 52);
    color: black;
    transition: 0.4s;
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.dddinfo {
    height: auto;
    max-width: 400px;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
}

.dddinfo h1 {
    color: black;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    margin: 0;
    padding: 5px 10px;
}


.show {
    width: 80%;
    position: relative;
    height: inherit;
    margin: 0 auto;
}


.image-slider-container {
    padding: 10px;
    position: relative;
}
.image-slider-container h1 {
    padding: 15px;
    text-align: center;
}

.gallery-view {
    height: 560px;
    max-width: 1000px;
    border-radius: 15px;
    margin: 0 auto;
    background: #b9b9b9;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.slide {
    position: relative;
    height: 540px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    transition: 0.5s;
}
.image {
    height: 540px;
    width: 980px !important;
    background: #fff9ed;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.image-title {
    position: absolute;
    bottom: 10px;
    left: 0px;
    line-height: 30px;
    text-align: center;
    height: 30px;
    font-size: 22px;
    width: 100%;
    color: white;
    background: #71717152;
    backdrop-filter: blur(10px);
}
.image img {
    width: 100%;
    height: auto;
}
.ctrl-btn {
    position: absolute;
    font-size: 50px;
    cursor: pointer;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

.link {
    height: 100px;
    transform: translateY(0px);
}
.g-text-left {
    text-align: left;
    transform: translateY(-100px);
}
.linked a {
    padding: 5px;
    position: relative;
    text-decoration: none;
    background: rgb(2, 87, 199);
    font-size: 30px;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}
.dpb {
    opacity: 1;
}

.g-text {
    padding-top: 120px;
    font-family: 'Oswald', sans-serif;
}
.g-text h1 {
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    border-radius: 5px;
    width: 50%;
    transform: translateY(-50%);
    color: rgb(70, 255, 45);
    background-color: rgba(17, 164, 233, 0.9);
}



.dddinfo p {
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

.container-circle {
    margin-top: 40px;
    height: 450px;
    width: 450px;
    min-height: 400px;
    min-width: 400px;
    position: relative;
    transform: scale(1);
    perspective: 1000px;
}
.cube {
    height: 260px;
    width: 260px;
    transform-style: preserve-3d;
    margin: 100px auto;
    animation: cube 8s ease-in-out 2s infinite;
}
.side {
    box-sizing: border-box;
    height: 260px;
    width: 260px;
    transform-style: preserve-3d;
    border: 5px solid rgb(201, 201, 201);
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: 'Encode Sans Expanded', sans-serif;
    text-align: center;
    line-height: 260px;
    backface-visibility: hidden;
    box-sizing: border-box;
}
@keyframes cube {
    50%{
        transform: rotateY(-270deg)  rotateX(0deg);
    }
    60%{
        transform: rotateY(0deg) rotateX(-90deg);
    }
    65%{
        transform: rotateY(0deg) rotateX(-90deg);
    }
    80%{
        transform: rotateY(360deg) rotateX(90deg);
    }
    85%{
        transform: rotateY(360deg) rotateX(90deg);
    }
}
.front{
    transform: rotate(0deg) translateZ(130px);
}
.back{
    transform: rotateY(180deg) translateZ(130px);
}
.right{
    transform: rotateY(90deg) translateZ(130px);
}
.left{
    transform: rotateY(-90deg) translateZ(130px);
    font-size: 20px;
    font-weight: bolder;
    line-height: 260px;
}
.top{
    transform: rotateX(90deg) translateZ(130px);
    font-size: 30px;
    line-height: 260px;
    font-weight: bolder;
}
.bottom{
    transform: rotateX(-90deg) translateZ(130px);
    font-size: 40px;
    line-height: 260px;
    font-weight: bolder;
}

.study {
    width: 100%;
    height: auto;
    position: relative;
}

.classroutine {
    width: 100%;
    height: auto;
    position: relative;
}
.classroutine img {
    width: inherit;
    height: auto;
    border-radius: 10px;
    position: relative;
    opacity: 0.9;
}
.classroutine span {
    position: relative;
    padding: 19px;
    color: black;
    top: -85px;
    margin: 0 auto;
    font-size: 50px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    font-family: 'Signika', sans-serif;
}
.bookslink {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bookslink a {
    position: relative;
    text-align: center;
    font-size: 30px;
    margin: 5px;
    font-family: 'Passion One', cursive;
    text-decoration: none;
    color: rgb(255, 100, 100);
    height: inherit;
    padding: 30px;
    background: rgba(141, 141, 140, 0.6);
    border-radius: 7px;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.7);
}
.bookslink a:hover {
    background: rgba(194, 194, 194, 0.9);
    color: white;
}

.students {
    color: white;
    width: 700px;
    position: relative;
    background-color: rgba(12, 250, 250, 0.644);
    top: 160px;
    text-shadow: 2px 2px 9px black;
    margin: 0px auto 0px auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.std-container {
    width: 80%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    margin: 0px auto;
    gap: 30px;
}

.std-card {
    width: 240px;
    height: 370px;
    background: rgba(0,0,0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 5px 9px black;
}
.std-pic {
    height: 240px;
    width: inherit;
}
.std-pic img {
    height: inherit;
    width: inherit;
    border-radius: 8px 8px 0 0;
}
.std-info {
    padding: 5px;
    text-align: center;
}
.std-name {
    font-size: 21px;
    color: white;
    text-shadow: 2px 2px 9px black;
}
.std-dis {
    font-size: 18px;
    color: rgb(174, 255, 137);
    text-shadow: 2px 2px 9px black;
}
.std-id {
    padding-top: 2px;
    font-size: 18px;
    color: rgb(230, 232, 235);
    text-shadow: 2px 2px 9px black;
}

.about {
    margin: 0 auto;
    width: 80%;
    padding-top: 70px;
}

.dept-view-text {
    width: 70%;
    color: white;
    font-size: 30px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 9px black;
    text-align: center;
}

.video {
    height: 400px;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pic {
    height: 250px;
    width: 250px;
    position: relative;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.pic img {
    position: relative;
    height: inherit;
    width: inherit;
    
}

.information .std-name {
    text-align: center;
    font-size: 40px;
    text-shadow: 5px 5px 9px black;
}

.vdo {
    width: 600px;
    height: 335px;
}
.vdo iframe {
    border: 5px solid rgba(0, 0, 0, 0.7);
    overflow: hidden;
    border-radius: 15px;
}

.author {
    position: relative;
}

.about-text {
    position: relative;
    color: white;
    font-size: 60px;
    top: -50px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    text-shadow: 2px 2px 9px black;
}

.para-text {
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px 15px 0 0;
}

.para {
    width: 95%;
    color: rgb(31, 31, 31);
    font-size: 35px;
    padding: 15px 0;
    margin: 0px auto;
    text-align: justify;
    font-family: 'Archivo Narrow', sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.thanks {
    font-size: 40px;
}
.a-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.a-img {
    height: auto;
    width: auto;
    padding: 20px;
}
.a-pic {
     height: 270px;
     width: 270px;
     border-radius: 300px;
     border: 10px solid rgba(255, 255, 255, 0.8);
     overflow: hidden;
}
.a-pic img {
    height: inherit;
    width: inherit;
    opacity: 0.9;
}
.a-bio {
    color: white;
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    line-height: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
}

.a-name {
    font-family: 'Francois One', sans-serif;
    color: rgb(198, 75, 255);
}
.a-dept {
    font-size: 25px;
    font-family: 'Changa', sans-serif;
    color: rgb(133, 255, 133);
}
.a-uni {
    font-size: 25px;
    font-family: 'Changa', sans-serif;
    color: rgb(27, 215, 221);
}
.a-fb, .a-mail, .a-phn, .a-linkedin {
    font-size: 20px;
    width: 100%;
    font-family: 'Noto Sans HK', sans-serif;
}
.a-fb a, .a-linkedin a {
    text-decoration: none;
    color: white;
}

.site-footer {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    height: auto;
    margin-bottom: 20px;
    border-radius: 0 0 15px 15px;
}

.footer {
    width: 100%;
    padding: 10px 0;
    color: black;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    margin: 10px;
}





@media (max-width: 480px){
    body{
        background-image: url('pic/bg-mo.jpg');
        background-size: cover;
        background-position: center;
    }
    .cont {
        position: relative;
        width: 100%;
        padding-top: 180px;
        margin: 0 auto;
    }
    
    .navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item-nav h1 {
        color: rgb(146, 247, 52);
        font-size: 40px;
        line-height: 0px;
        left: 0px;
    }
    .item-nav ul {
        right: 8px;
        margin: 0px auto;
        padding: 20px 0px;
    }
    .item-nav ul li {
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    .item-nav ul li a {
        font-size: 16px;
        line-height: 20px;
    }

    .university {
        color: white;
        width: 90%;
        font-size: 25px;
        text-shadow: 1px 1px 5px 5px black;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        margin-top: 0px;
    }

    .first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .dddinfo{
        width: 350px;
        background: rgba(0, 0, 0, 0.6);
    }

    .classroutine {
        width: 100%;
        height: auto;
        position: relative;
        margin: 30px auto;
    }
    .classroutine img {
        width: inherit;
        height: auto;
        border-radius: 5px;
        opacity: 0.9;
    }
    .classroutine span {
        position: relative;
        padding: 19px 5px;
        top: -40px;
        margin: 0 auto;
        font-size: 30px;
        border-radius: 0 0 10px 10px;
        text-align: center;
        font-family: 'Signika', sans-serif;
    }

    .bookslink a:hover {
        background: rgba(194, 194, 194, 0.9);
        color: white;
    }

    .gallery {
        width: 100%;
        height: 230px;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .show {
        width: 95%;
    }
    .g-caption {
        position: relative;
        height: 50px;
        transform: translateY(-50px);
        font-size: 20px;
        text-align: center;
        font-family: 'Signika', sans-serif;
    }
    .link {
        height: 100px;
        transform: translateY(0px);
    }
    .g-text-left {
        text-align: left;
        transform: translateY(-100px);
    }
    .linked a {
        padding: 5px;
        position: relative;
        text-decoration: none;
        background: rgb(2, 87, 199);
        font-size: 15px;
        color: white;
        margin-top: 20px;
        border-radius: 10px;
    }
    .dpb {
        opacity: 1;
    }
    
    .g-text {
        padding-top: 150px;
    }
    .g-text h1 {
        padding: 10px 0;
    }
    .next, .pre {
        position: absolute;
        padding: 8px 15px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        font-size: 20px;
        font-family: 'Source Code Pro', monospace;
        top: 50%;
        z-index: 9999;
    }
    .next:hover, .pre:hover {
        background: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
    .next {
        right: 10px;
    }
    .pre {
        left: 10px;
    }



    
    .students {
        color: white;
        width: 70%;
        top: 180px;
        margin: 0px auto 0px auto;
        padding: 20px;
        font-size: 25px;
    }

    .std-container {
        padding-top: 180px;
    }

    .std-card {
        margin: 5px;
        width: 180px;
        height: 270px;
    }
    .std-pic {
        height: 180px;
        width: inherit;
    }
    .std-pic img {
        height: inherit;
        width: inherit;        
    }
    .std-info {
        padding: 5px;
    }
    .std-name {
        font-size: 18px;
    }
    .std-dis {
        font-size: 16px;
    }
    .std-id {
        font-size: 16px;
    }

    .video {
        height: auto;
        width: 100%;
    }
    .editor-info {
        width: 100%;
    }
    .pic {
        height: 200px;
        width: 200px;
        border: 5px solid rgba(0, 0, 0, 0.5);
        border-radius: 300px;
        overflow: hidden;
    }
    .pic img {
        height: inherit;
        width: inherit;
    }
    
    .information .std-name {
        text-align: center;
        font-size: 30px;
    }
    
    .about-text {
        color: white;
        font-family: 'Fjalla One', sans-serif;
        font-size: 40px;
    }
    
    .vdo {
        width: 100%;
    }
    .vdo iframe {
        width: inherit;
        height: auto;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .about {
        width: 95%;
        padding-top: 100px;
    }
    .dept-view-text {
        width: 90%;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        text-shadow: 2px 2px 9px black;
        text-align: center;
    }
    .bookslink a {
        width: 90%;
    }
    .author {
        top: -100px;
    }

    .para {
        width: 95%;
        font-size: 20px;
        margin: 0px auto;
        padding: 10px 0;
    }
    .thanks {
        font-size: 25px;
    }
    .footer {
        font-size: 20px;
    }
    .a-bio {
        width: 90%;
        font-size: 30px;
        padding: 10px;
    }
    .a-name {
        font-size: 22px;
    }
    .a-dept, .a-uni{
        font-size: 20px;
    }
    .a-fb, .a-mail, .a-phn, .a-linkedin {
        font-size: 18px;
        width: 100%;
        border-bottom: 1px solid black;
    }



}





/*

    font-family: 'Francois One', sans-serif;

    font-family: 'Archivo Narrow', sans-serif;

    font-family: 'Changa', sans-serif;

    font-family: 'Noto Sans HK', sans-serif;

    font-family: 'Odibee Sans', cursive;

    font-family: 'Source Code Pro', monospace;


    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Kanit', sans-serif;

    font-family: 'Noto Sans KR', sans-serif;

    font-family: 'Oswald', sans-serif;

    font-family: 'Passion One', cursive;

    font-family: 'Signika', sans-serif;

    font-family: 'Fjalla One', sans-serif;

    font-family: 'Lato', sans-serif;
*/